{% load staticfiles %}
<div class="l_box f_l">
    {% block content_left %}
        {% include 'blog/ad.html' %}
        {% include 'blog/blog.html' %}
    {% endblock %}
</div>
    <!-- banner代码 结束 -->
<div class="r_box f_r">
    {% block focusme %}
        {% include 'blog/focusme.html' %}
    {% endblock %}
    <!--tit01 end-->

    <div class="ad300x100"> <img src="{%static 'images/ad300x100.jpg' %}"> </div>
    {% block recommend %}
        {% include 'blog/recommend.html' %}
    {% endblock %}
    <!--切换卡 moreSelect end -->

    {% block cloud %}
        {% include 'blog/cloud.html' %}
    {% endblock %}

    {% block tuwen %}
        {% include 'blog/imgtxt.html' %}
    {% endblock %}

    <div class="ad"> <img src="{%static 'images/03.jpg' %}"> </div>
    {% block links %}
       {% include 'blog/links.html' %}
    {% endblock %}
</div>
  <!--r_box end -->