{% load staticfiles %}
<div class="topnews">
      <h2><span><a href="/" target="_blank">栏目标题</a><a href="/" target="_blank">栏目标题</a><a href="/" target="_blank">栏目标题</a></span><b>文章</b>推荐</h2>


      <div class="blogs">
{#          {% for blog in blog_list %}#}
{#          <figure><img src={{blog.images | default:'/static/images/01.jpg'}}></figure>#}
{#        <ul>#}
{#            <h3><a href="/">{{ blog.atitle | default:"文章题目"}}</a></h3>#}
{#          <p>{{ blog.content |default:"哈哈哈哈哈哈"}}</p>#}
{#          <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">{{ blog.time |default:'2016-5-5'}}</span><span class="viewnum f_r">浏览（<a href="/">{{ blog.skip_num |default:999}}</a>）</span><span class="pingl f_r">评论（<a href="/">{{ blog.comment_num |default:'99+'}}</a>）</span></p>#}
{#        </ul>#}
{#          {% endfor %}#}
        <figure><img src="{%static 'images/01.jpg' %}"></figure>
        <ul>
          <h3><a href="/">住在手机里的朋友</a></h3>
          <p>通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊 ...</p>
          <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2014-02-19</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
        </ul>
      </div>

</div>
