{% load staticfiles%}
<div class="tuwen">
      <h3>图文推荐</h3>
      <ul>
{#          {% for tuwen in tuwen_list %}#}
{#              <li><a href="/"><img src={{ tuwen.image }}><b>{{ tuwen.text }}</b></a>#}
{#                <p><span class="tulanmu"><a href="/">{{ tuwen.tag }}</a></span><span class="tutime">{{ tuwen.time }}</span></p>#}
{#        </li>#}
{#          {% endfor %}#}
        <li><a href="/"><img src="{%static 'images/01.jpg' %}"><b>住在手机里的朋友</b></a>
          <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
        </li>
      </ul>
    </div>